@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    width:100%;
}
#logo_link{   
    padding-top: 5px;
}
#background {
    height: 725px;
    background-color: #EFC3E6
}
#hero-img{
    width: 100%;
}
nav a {
    text-align: center;
    margin: 0 auto;
    color: #d9c2a3;
    text-decoration: none;
    padding: 35px;
}  
nav a:hover {
    background-color: #EFC3E6;
    color: #F7F7FF

}
#hero-msg h1{
    text-align: center;
    margin: 0 auto;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
    margin: 0 auto;
}
.msg h2{
    color: #F7F7FF;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.msg p{
    color: #F7F7FF;
    font-size: .8em; 
    padding-bottom: 15px;
}
.msg{
    background-color:#EFC3E6;
    line-height: 1.5em;
    padding: 35px;
}
.book, .join{
    background-color:#EFC3E6;
    color: #F7F7FF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}  
.book:hover, .join:hover{
    background-color:#EFC3E6;
    color: #F7F7FF
}
.home-title{
    color: #d9c2a3;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.logo{
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid rgba(20,30,13, .7);
}
main section img {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgba(20,30,13, .7); 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
footer{
    background-color:#EFC3E6;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3{
    color: #F7F7FF;   
}
footer h3 a:hover{
    text-decoration: underline ;
}
footer a{
    color: #F7F7FF;
    text-decoration: none;
}
footer a:hover{
    color: #F7F7FF;
}
footer .social img{
    padding-top: 15px;
}
h2 {
    margin: 0;
}
h4{
    color: #d9c2a3 
}


