@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Roboto:ital@1&display=swap');

header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

#home-img{
    max-width: 100%;
}
#content {
    max-width: 100%;
    margin: 0 auto;
    width:100%;
}

#background {
    height: 725px;
    background-color: #587291;
    grid-column: 1/11;
    grid-row: 4/9;
}

nav a {
    text-align: center;
    margin: 0 auto;
    color: #2F97C1;
    text-decoration: none;
    padding: 35px;
}  
nav a:hover {
    background-color: #1ccad8;
    color: #F7F7FF

}

.home-title{
    color:   #587291;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}


h4{
    color: #1ccad8; 
    text-align: center;
}


.button-box{
    text-align: center;
    margin: 0 auto;
    
}

.book, .join{
    background-color:#EFC3E6;
    color: #F7F7FF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}  

footer{
    background-color:#2F97C1;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
